dct/results/
.idea/
docs/build/
results/
dab_modulation_output*
*.nlc
*.npz
*/__pycache__/
dct/design_check/__pycache__/
*.sqlite3
*.html
*.csv
*.zip
examples/
workspace/2025-01-31_example/
workspace/core_materials_temp.pro