pcdt/results/
.idea/
docs/build/
results/
dab_modulation_output*
*.nlc
*.npz
*/__pycache__/
pcdt/__pycache__/
pcdt/components/__pycache__/
pcdt/topology/__pycache__/
pcdt/topology/sbc/__pycache__/
pcdt/topology/dab/__pycache__/
pcdt/design_check/__pycache__/
pcdt/components/freecad_models/__pycache__/
report.log
trial.py
trial*.py
*.sqlite3
*.html
*.csv
*.zip
*.pkl
dictionary.dic
examples/
workspace/
logging.conf
log_file.log
*.step