name: "Sphinx: Render docs"

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main]
  pull_request:
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - uses: actions/checkout@v4
    - name: install transistor database develop version
      run: |
        pwd
        ls
        wget https://github.com/upb-lea/transistordatabase/archive/refs/heads/main.zip
        unzip main.zip
        rm main.zip
        cd transistordatabase-main
        pip install -e .
        cd ..
        echo show folder path
        pwd
        echo show folder structure:
        ls 

    - name: install packages needed to run femmt, install femmt develop version
      run: |
          sudo apt-get update
          # Problem with OSError: libGLU.so.1: cannot open shared object file
          # Answer here: https://stackoverflow.com/questions/55313610/importerror-libgl-so-1-cannot-open-shared-object-file-no-such-file-or-directo
          sudo apt install libsm6 libxext6 ffmpeg libfontconfig1 libxrender1 libglu1
          pwd
          ls
          wget https://github.com/upb-lea/FEM_Magnetics_Toolbox/archive/refs/heads/main.zip
          unzip main.zip
          rm main.zip
          cd FEM_Magnetics_Toolbox-main
          pip install -e .
          cd ..
          echo show folder path
          pwd
          echo show folder structure:
          ls 

    - name: install HCT developer version
      run: |
          pwd
          ls
          wget https://github.com/upb-lea/HCT_heat_sink_computation_toolbox/archive/refs/heads/main.zip
          unzip main.zip
          rm main.zip
          cd HCT_heat_sink_computation_toolbox-main
          pip install -e .
          cd ..
          echo show folder path
          pwd
          echo show folder structure:
          ls 

    - name: install PE-CST developer version
      run: |
          pwd
          ls
          wget https://github.com/upb-lea/capacitor_selection_toolbox/archive/refs/heads/main.zip
          unzip main.zip
          rm main.zip
          cd capacitor_selection_toolbox-main
          pip install -e .
          cd ..
          echo show folder path
          pwd
          echo show folder structure:
          ls 

    - name: install the package
      run: |
          pip install -e .

    - name: Install sphinx and build documentation with sphinx
      run: |
        python --version
        pip install sphinx sphinx_rtd_theme sphinxcontrib-email
        cd docs
        make html
#    - name: Build HTML
#      uses: ammaraskar/sphinx-action@master
#      with:
#        docs-folder: "docs/"
#        pre-build-command: "pip install sphinx_rtd_theme sphinxcontrib-email"
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: html-docs
        path: docs/build/html/
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      if: github.ref == 'refs/heads/main'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/build/html
