# Path configuration
[general]
    project_directory = "2025-11-12_example_1"

[breakpoints]
    # possible values: no/pause/stop
    circuit_pareto = "no"  # After Electrical paretofront calculation
    circuit_filtered = "no"  # After Electrical filtered result calculation
    capacitor_1 = "no"
    capacitor_2 = "no"
    inductor = "no"    # After inductor paretofront calculations of for all correspondent electrical points
    transformer = "no" # After transformer paretofront calculations of for all correspondent electrical points
    heat_sink = "no"    # After heatsink paretofront calculation
    pre_summary = "no"    # After pre-summary calculation
    summary = "no"    # After summary calculation

[conditional_breakpoints] # conditional breakpoints in case of bad definition array (only for experts and currently not implemented)
    circuit = 1000        # Number of trials with ZVS less than 70%
    inductor = 1000         # Number of trials which exceed a limit value?
    transformer = 1000      # Number of trials which exceed a limit value?
    heat_sink = 1000         # Number of trials which exceed a limit value?

[circuit]
    number_of_trials = 1000
    calculation_mode = "skip" # (new,continue,skip)
    subdirectory = "01_circuit"

[capacitor_1]
    calculation_mode = "new" # (new,skip)
    subdirectory = "02_capacitor_1"

[capacitor_2]
    calculation_mode = "new" # (new,skip)
    subdirectory = "03_capacitor_2"

[inductor]
    number_of_trials = 2000
    calculation_mode = "new" # (new,continue,skip)
    subdirectory = "04_inductor"

[transformer]
    number_of_trials = 5000
    calculation_mode = "new" # (new,continue,skip)
    subdirectory = "05_transformer"

[heat_sink]
    number_of_trials = 500
    calculation_mode = "new" # (new,continue,skip)
    subdirectory = "06_heat_sink"

[pre_summary]
    calculation_mode = "new" # (new,skip)
    subdirectory = "07_pre_summary"

[summary]
    calculation_mode = "skip" # (new,skip)
    subdirectory = "08_summary"

[configuration_data_files]
    general_configuration_file = "DabGeneralConf.toml"
    circuit_configuration_file = "DabCircuitConf.toml"
    capacitor_1_configuration_file = "DabCapacitor1Conf.toml"
    capacitor_2_configuration_file = "DabCapacitor2Conf.toml"
    inductor_configuration_file = "DabInductorConf.toml"
    transformer_configuration_file = "DabTransformerConf.toml"
    heat_sink_configuration_file = "DabHeatSinkConf.toml"

