# Path configuration
[general]
    project_directory = "2026-01-26_example"
    topology = "dab"  # dab, sbc

[breakpoints]
    # possible values: no/pause/stop
    circuit_pareto = "no"  # After Electrical paretofront calculation
    circuit_filtered = "no"  # After Electrical filtered result calculation
    capacitor = "no"   # After capacitor selection result calculation
    inductor = "no"    # After inductor paretofront calculations of for all correspondent electrical points
    transformer = "no" # After transformer paretofront calculations of for all correspondent electrical points
    heat_sink = "no"    # After heatsink paretofront calculation
    pre_summary = "no"    # After pre-summary calculation
    summary = "no"    # After summary calculation

[conditional_breakpoints] # conditional breakpoints in case of bad definition array (only for experts and currently not implemented)
    circuit = 1000        # Number of trials with ZVS less than 70%
    inductor = 1000       # Number of trials which exceed a limit value?
    transformer = 1000      # Number of trials which exceed a limit value?
    heat_sink = 1000         # Number of trials which exceed a limit value?

[circuit]
    number_of_trials = 100
    calculation_mode = "new" # (new,continue,skip)
    subdirectory = "01_circuit"

[capacitor]
    # number of the entries corresponds to the number of required capacitors of the  topology
    calculation_modes = ["skip", "skip"] # (new,skip)
    subdirectory = "02_capacitor"

[inductor]
    numbers_of_trials = [200]
    calculation_modes = ["skip"] # (new,continue,skip)
    subdirectory = "03_inductor"

[transformer]
    numbers_of_trials = [400]
    calculation_modes = ["skip"] # (new,continue,skip)
    subdirectory = "04_transformer"

[heat_sink]
    number_of_trials = 500
    calculation_mode = "skip" # (new,continue,skip)
    subdirectory = "05_heat_sink"

[pre_summary]
    calculation_mode = "new" # (new,skip)
    subdirectory = "06_pre_summary"

[summary]
    subdirectory = "07_summary"

[configuration_data_files]
    # General configuration file followed by circuit configuration file
    topology_files =  ["DabGeneralConf.toml","DabCircuitConf.toml"]
    # Number of capacitor configuration files corresponds to the required number of capacitors of the topology
    capacitor_configuration_files = ["DabCapacitor1Conf.toml", "DabCapacitor2Conf.toml"]
    # Number of capacitor configuration files corresponds to the required number of capacitors of the topology
    inductor_configuration_files = ["DabInductorConf.toml"]
    # Number of capacitor configuration files corresponds to the required number of capacitors of the topology
    transformer_configuration_files = ["DabTransformerConf.toml"]
    heat_sink_configuration_file = "DabHeatSinkConf.toml"
    #    # General configuration file followed by circuit configuration file
    #    topology_files =  ["SbcGeneralConf.toml","SbcCircuitConf.toml"]
    #    # Number of capacitor configuration files corresponds to the required number of capacitors of the topology
    #    capacitor_configuration_files = []
    #    # Number of capacitor configuration files corresponds to the required number of capacitors of the topology
    #    inductor_configuration_files = ["SbcInductorConf.toml"]
    #    # Number of capacitor configuration files corresponds to the required number of capacitors of the topology
    #    transformer_configuration_files = []
    #    heat_sink_configuration_file = "SbcHeatSinkConf.toml"

